body{
background-color:#8095d6;
font-size: 300%;
font-style: oblique;

}
.bre1{
  float: right;
  width: auto;
  position: absolute;
  top: 20px;
  left: 500px;
}
h1{
  border: double;
  margin-right: 75%;
}
