body{
  margin: 0px;
  padding: 0px;
  font-family: 'Source code pro', Calibri, serif;
  background-color: #9580d6;
}
nav > ul{
  margin: 0px;
  padding: 0px;
}
nav > ul::after{
  display: block;
  clear: both;

}
nav li{
  list-style-type: none;

}
nav > ul > li{
  float: left;
  position: relative;
}
.submenu{
  display: none;
}
nav{
  width: 100%;
  background-color: #424558;
}
nav a{
  dispaly: inline-block;
  text-decoration: none;
}
nav > ul > li > a{
    padding: 20px 30px;
    color: #FFF;
}
nav > ul > li:hover a{
  padding: 15px 30px 20px 30px;
}
nav li:hover .submenu{
  display: inline-block;
  position: absolute;
  left: 0px;
  padding: 0px;
  z-index: 1000;

}
.submenu li{
  border-bottom: 1px solid #CCC;
}
.submenu li a{
  margin-top: 10%;
  padding: 15px 30px;
  font-size: 13px;
  color: red;
  width: 15%;
}
.menu-Contact:hover{
  border-top: 5px solid #e44d26;
  background-color: RGBo(228, 77, 0.15);
}
.menu-Chartre:hover{
  border-top: 5px solid #0070bb;
  background-color: RGBo(000, 112, 0.15);
}
.menu-Professeur:hover{
  border-top: 5px solid #f1dc4f;
  background-color: RGBo(241, 211, 79, 0.15);
}
.menu-Matières:hover{
  border-top: 5px solid #BBB;
  background-color: RGBo(220, 220, 0.15);
}
.image1{
  padding: 20px;
  width: 50%;
}
.image2{
  width: 45%;
  height: auto;
}
.image3{
  width: 45%;
height: auto;
}
.h1{
  font-size: 40px;
}
.boite1{
  font-size: 50px;
  font-style: italic;
  font-style: oblique;
  color: #d6d680;
}
